@media only screen and (max-width: 1280px) {
    body {
        margin: 0;
    }
    /*header*/
    .header-block,
    .footer-block {
        border-radius: 0;
    }
    /*header end*/
}
@media only screen and (max-width: 992px){
    /*main examples*/
    .examples .example-item{
        max-width: 1170px;
    }
    /*main examples end*/
}
@media only screen and (max-width: 767px) {
    /*main examples*/
    .examples .example-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        max-height: 100%;
        width: 90%;
        margin: 15px auto;
        padding: 15px 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .examples .example-item img {
        width: 60%;
        height: 60%;

    }
    .examples .example-item p {
        width: 90%;
        padding: 30px 0 0 0;
    }
    .examples .example-item:nth-child(3) img {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .examples .example-item h3 {
        position: relative;
        margin: 0 auto;
        left: 0;
        bottom: 0;
        margin-bottom: 15px;
        border: none;
    }
    .examples .example-item:nth-child(3) h3 {
        right: 0;
    }
    /*main examples end*/
    /*main intro*/
    .yt-control {
        display: none;
    }
    /*main intro end*/
    /*main img-block*/
    .img-block .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .item-block img {
        display: none;
    }
    .item-block {
        width: 100%;
        text-align: justify;
    }
    .item-block:not(:last-child) p {
        border-bottom: 1px solid gray;
    }
    .item-block h2 {
        padding-top: 50px;
    }
    .item-block p {
        padding-bottom: 50px;
    }
    /*main img-block end*/
}
