/*lessons start*/

.lessons {
    padding: 120px 0;
}

.lessons .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.lessons h2 {
    width: 100%;
    font-size: 52px;
    text-transform: uppercase;
    text-align: center;
}
.lessons h2 span{
    font-weight: 800;
}
.lessons h2 span:nth-child(1){
    color: #4b68e7;
}
.lessons h2 span:nth-child(2){
    color: #f73961;
}

.lessons .picture-block {
    width: 31%;
    max-width: 360px;
    /*min-width: 220px;
    height: 260px;*/
    margin: 15px 0;
    padding: 5px 0;
    border: 1px solid lightgray;
    text-align: center;
    overflow: hidden;
}

.lessons .picture-block a {
    font-size: 20px;
    display: block;
    padding: 5px;
    color: #000;
}

.lessons .picture-block a:hover {
    text-decoration: underline;
}

.lessons .picture-block img {
    max-width: 320px;
    width: 100%;
    max-height: 200px;
}

/*lessons end*/

/*lesson start*/

.lesson {
    padding: 80px 0;
}

.lesson h3 {
    font-size: 36px;
    padding: 30px 0;
    font-weight: 800;
    text-align: center;
}

.lesson p {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 24px;
    text-align: justify;
    padding: 15px 15%;
    text-indent: 5%;
}

.lesson img {
    width: 80%;
    height: auto;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 15px 0;
}

.lesson p + p {
    padding-top: 0;
}

.page-block {
    -ms-flex-item-align: center;
    align-self: center;
    width: 50%;
    text-align: center;
}
.page-block p{
    padding: 0 15px;
}
.page-block p,.page-block a {
    display: inline;
    font-size: 18px;
    line-height: 22px;
}
.page-block a{
    text-decoration: underline;
}
/*lesson end*/
