* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri';
}

.fixed {
    top: 0;
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    background: #333;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

.section {
    background-color: #000;
}



.btnleft,
.btnright {
    height: 60px;
    width: 200px;
    margin: auto 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    background: #F00;
    display: inline-block;
    border: 1px solid #fff;
    z-index: 50;
    position: fixed;
    transition: all 0.7s;
}

.btnleft {
    background: linear-gradient(to right, purple 0%, purple 50%, #000 50%, #000 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    border-left: none;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.btnright {
    background: linear-gradient(to right, #000 0%, #000 50%, purple 50%, purple 100%);
    background-size: 200% 100%;
    background-position: 0 0;
    border-right: none;
    top: 50%;
    left: calc(100% - 200px);
    transform: translateY(-50%);
}

.btnleft:hover {
    background-position: 0 0;
    border-color: purple;
}


.btnright:hover {
    background-position: 100% 100%;
    border-color: purple;
}

.leftImg,
.rightImg {
    width: 50vh;
    height: 100vh;
    background: red;
    position: absolute;
    transition: all .5s;
    z-index: 2;
}

.leftImg {
    left: -50vh;
    background: url(img/1.jpg);

}

.rightImg {
    right: -50vh;
    background: url(img/4.jpg);
}

.btnleft:hover + .leftImg {
    left: 0;
}

.btnright:hover + .rightImg {
    right: 0;
}


.section > div {
    display: flex;
    flex-direction: row;
    position: relative;
}

.firstsection > div {
    justify-content: space-between;

}

.textSide,
.imgSide {
    width: 50%;
    color: #fff;
}

.section:first-child {
    background: green;
}

.section:nth-child(2) .imgSide {
    background: url(img/1.jpg);
    background-size: cover;
}

.section:nth-child(3) .imgSide {
    background: url(img/2.jpg);
    background-size: cover;
}

.section:nth-child(4) .imgSide {
    background: url(img/3.jpg);
    background-size: cover;
}

.section:nth-child(5) .imgSide {
    background: url(img/4.jpg);
    background-size: cover;
}

.textSide {
    text-align: center;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section:nth-child(2n+1) .imgSide {
    order: -1;
}



.bottomLeft {
    top: 88%;
    transform: none;
    left: 0;
    right: inherit;
}

.bottomRight {
    top: 74%;
    transform: none;
    left: 0;
    right: inherit;
    border: 1px solid #fff;
    border-left: none;

}

.bottomLeftRevert {
    top: 88%;
    transform: none;
    left: calc(100% - 200px);
    border: 1px solid #fff;
    border-right: none;

}

.bottomRightRevert {
    top: 74%;
    transform: none;
    left: calc(100% - 200px);
    border: 1px solid #fff;
    border-right: none;

}
